body {
  font-family: verdana;
  color: white;
  background: #330d00;
  background-image: url(../img/pizza2.png);
}

h1 {
  font-size: 6em;
  font-weight: 600;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
  text-shadow:
   -1px -1px 0 #e63900,
    1px -1px 0 #e63900,
    -1px 1px 0 #e63900,
     1px 1px 0 #e63900;
}

p {
  font-size: 18px;
  text-align: center;
}

#buttons {
  padding-left: 150px;
}

#display-cost {
  padding-top: 50px;
  padding-left: 150px;
}

#display-cost h3 {
  font-weight: 600;
}

.new-pizza {
  padding-top: 50px;
  padding-left: 150px;
}
